@import "tailwindcss";

@theme {
  --color-primary: #906b3e;
  --color-primary-50: #faf8f2;
  --color-primary-100: #f4f0e0;
  --color-primary-200: #e7dfc1;
  --color-primary-300: #d8c999;
  --color-primary-400: #c8af73;
  --color-primary-500: #bb9854;
  --color-primary-600: #ad8549;
  --color-primary-700: #906b3e;
  --color-primary-800: #755737;
  --color-primary-900: #5f472f;
  --color-primary-950: #332417;
}

@layer base {
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply mb-4 text-justify;
  }
  b,
  strong {
    @apply font-semibold;
  }
}

@layer components {
  .form-input {
    @apply focus:border-primary-600 block w-full appearance-none rounded-lg border-2 border-gray-300 p-3 pb-2.5 text-gray-900 placeholder:text-transparent focus:outline-none;
  }
  .form-float-label {
    @apply peer-focus:text-primary-600 absolute start-2 top-2 -translate-y-4.5 scale-90 transform cursor-text bg-white px-1.5 text-gray-500 duration-200 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4.5 peer-focus:scale-90;
  }
}
